$cell_color: #4899F7;
$alive_color: #201D1D;
$destroy_color: #BB2323;
$enemy_color: #E1E0E0;

table {

    td {
        width: 40px;
        height: 40px;
        border: 1px;
        background-color: $cell_color;
        
        &.alive {
            background-color: $alive_color;
        }

        &.destroy {
            background-color: $destroy_color;
        }

        &.miss {
            background: url('../img/miss_case.png')
        }
    }

    &#enemy_field {
        td:hover {
            border-color: violet;
        }
    }
    
}

div {
    &#enemy {
        background-color: $enemy_color;
    }
}