$cell: #4899F7;
$alive: #201D1D;
$destroy: #BB2323;
$enemy: #E1E0E0;
$section: #642BDF;
$contrast: #CEF5DE;

body {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    margin: 0;
}

table {

    td {
        width: 30px;
        height: 30px;
        border: 1px;
        background-color: $cell;
        
        &.alive {
            background-color: $alive;
        }

        &.destroy {
            background-color: $destroy;
        }

        &.miss {
            background: url('../img/miss_case.png')
        }
    }
}

div {

    &#game {
        grid-row: 2;
        display: grid;
        grid-template-columns: 50vw 50vw;
    }

    &#settings {
        grid-row: 3;
        background-color: $section;
    }
}

#title {
    grid-row: 1;
    background-color: $section;
    color: $contrast;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    grid-column: 1;
}

#enemy {
    grid-column: 2;
    background-color: $enemy;
}

h2 {
    color: $section;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}